# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
out*/
p2pOUT*/
parts/
res/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
/000000000000000000000

#idea
.idea/

nohup.out

#My files that need to ignore
toPublic/0029_version_field_stat.out
toPublic/0020_delete_duplicate_min_max.txt
toModel/*.csv
toModel/*.zip
154texelVMgPNrzm4dpCvsqv28cr-RM3YZkbf7u8FXc
.inputrc
0-1SessionLengthDist.csv
0-1SessionLengthDist_v1.csv
1-0SessionLengthDist.csv
1-0SessionLengthDist_v1.csv
1-1SessionLengthDist.csv
1-1SessionLengthDist_v1.csv
NatDistDayV2.out
OnlineDistDayV2.out
Stunner.md.html
dais19_script_preprocess_statistics.zip
out.er
out.err
read.html
sessionLengthDistStackedBarv1.csv
sessionLengthDistStackedBarv2.csv
version_verific.out
version_verific21.out
version_verific22.out
version_verific23.out
version_verific2323.out


